<div id="<%= dom_id entry %>">
  <p>
    <strong>Activity name:</strong>
    <%= entry.activity_name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= entry.duration %>
  </p>

  <p>
    <strong>Calories burned:</strong>
    <%= entry.calories_burned %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>

</div>
